body {
    font-family: Roboto;
    display: flex;
    align-items: center;
    /* Centrera vertikalt */
    justify-content: center;
    /* Centrera horisontellt */
    flex-direction: column;
    background-color: #f9f6f6;
}

.header h1 {
    font-size: 25px;
}

.signIn-form {
    background-color: #FFFF;
    display: flex;
    width: 40%;
    margin-top: 10%;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    height: 410px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.16);

}

.header {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    color: #000;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.2px;
}

.header h1 {
    font-size: 25px;
}

.header h2 {
    font-size: 17px;
    font-weight: 900;
}

.invalid-pwd-usr {
    width: 150px;
    height: 15px;
    border: 2px solid #CF6F6F;
    background: #CD2C2C;

    padding: 7px;
}


.invalid-pwd-usr p {
    margin: 0 auto;
    color: #FFF;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 1px;

}

.invalid-pwd-usr .smaller-p {
    margin-top: -10px;
    color: #FFF;
    font-size: 13px;
    font-weight: 200;

}


button {
    text-align: center;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 1.6px;




    border-radius: 5px;
    background: #0072B2;
    color: #FFFF;
    width: 230px;
    height: 40px;
    border: none;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

button:hover {
    background: #0EB200;
    cursor: pointer;
}

.inputCred {


    margin: 0 auto;
    text-align: center;
    overflow: visible;

}

.inputCred label {


    color: #000;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.6px;

    float: left;

    margin-left: 5px;




}

.inputCred input {
    width: 230px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid #828080;
    background: #FFF;
    margin-bottom: 20px;
}

input[type="text"] {
    font-size: 20px;
    padding-left: 10px;
    font-family: Roboto;
}

input[type="password"] {
    font-size: 20px;
    padding-left: 10px;
}