body {
    font-family: Roboto;
    background-color: #f9f6f6;
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 3%;


}

.container .timetable {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

table {
    border-collapse: collapse;
    width: 100%;
}

#timetable-design td,
#timetable-design th {
    border: 1px solid #ddd;
    padding: 8px;
}

#timetable-design {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
}


#currentTime {
    position: absolute;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}

.timetablebutton {
    margin-top: 30%;

}