body {
    font-family: Roboto;
    background-color: #f9f6f6;
}


h1 {
    margin-left: 15%;

}

.log-container {

    font-family: "Courier New", "Verdana";
    font-size: 1.0rem;
    color: #13f239;
    background-color: #202429;
    border-radius: 5px;


    margin: 0 auto;
    border: 2px solid black;
    width: 70%;
    height: 600px;
    overflow: scroll;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.16);

}

.log-text {
    margin: 0 20px;

}