body {
    font-family: Roboto;
    background-color: #f9f6f6;
}



.container {
    display: flex;
    justify-content: center;

}


.container .track {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px;

}

.track-button {
    border: 1px solid #3c3c3c;
    width: 193px;
    height: 53px;
    padding: 10px;

    background: #5CBC3A;

    color: #FFF;
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 1.6px;

    transition: background 0.3s;

}

.track-button:hover {
    background: #3c7926;
    cursor: pointer;
}

#button-occupied {
    background: #fa3321;
}

#button-occupied:hover {
    background: #961f14;
}


.switch {
    margin-top: 5%;
    text-align: center;
}

.switch-container {
    margin: 0 auto;
    font-size: 20px;
    border: 1px solid black;
    width: 10%;

}


.radio-container {
    margin: 1%;
}

.radio-input {
    display: inline-block;
    margin: 0 10px;
}

.radio-input label,
.radio-input input {
    display: block;
    margin: 5px auto;
}


.switch-button {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
}