{% extends "base.html"%} 
{% block title %}PLC page{% endblock %} 

{% block css %} 
<link
rel="stylesheet"
type="text/css"
href="{{ url_for('static', filename='railway.css')}}"
/> 
{% endblock %}


{% block content %} 

<div class="container">
    <div class="track">
        <h1>Track 1</h1>
        <form action="#" method="POST">
            {% if current_trackStatus['1'] == trackStatus[0] %}
                <button type="submit" class="track-button" name="button" value="track1">{{trackStatus[0]}}</button>
            {% else %}
                <button type="submit" class="track-button" id="button-occupied" name="button" value="track1">{{trackStatus[1]}}</button>
            {% endif %}
        </form>
    </div>

    <div class="track">
        <h1>Track 2</h1>
        <form action="#" method="POST">
            {% if current_trackStatus['2'] == trackStatus[0] %}
                <button type="submit" class="track-button" name="button" value="track2">{{trackStatus[0]}}</button> 
            {% else %}
                <button type="submit" class="track-button" id="button-occupied" name="button" value="track2">{{trackStatus[1]}}</button>
            {% endif %}
        </form> 
    </div>
    <div class="track">
        <h1>Track 3</h1>
        <form action="#" method="POST">
            {% if current_trackStatus['3'] == trackStatus[0] %}
                <button type="submit" class="track-button" name="button" value="track3">{{trackStatus[0]}}</button> 
            {% else %}
                <button type="submit" class="track-button" id="button-occupied" name="button" value="track3">{{trackStatus[1]}}</button>
            {% endif %}
        </form> 
    </div>
    <div class="track">
        <h1>Track 4</h1>
        <form action="#" method="POST">
            {% if current_trackStatus['4'] == trackStatus[0] %}
                <button type="submit" class="track-button" name="button" value="track4">{{trackStatus[0]}}</button> 
            {% else %}
                <button type="submit" class="track-button" id="button-occupied" name="button" value="track4">{{trackStatus[1]}}</button>
            {% endif %}
        </form> 
    </div>
    <div class="track">
        <h1>Track 5</h1>
        <form action="#" method="POST">
            {% if current_trackStatus['5'] == trackStatus[0] %}
                <button type="submit" class="track-button" name="button" value="track5">{{trackStatus[0]}}</button> 
            {% else %}
                <button type="submit" class="track-button" id="button-occupied" name="button" value="track5">{{trackStatus[1]}}</button>
            {% endif %}
        </form> 
    </div>
    <div class="track">
        <h1>Track 6</h1>
        <form action="#" method="POST">
            {% if current_trackStatus['6'] == trackStatus[0] %}
                <button type="submit" class="track-button" name="button" value="track6">{{trackStatus[0]}}</button> 
            {% else %}
                <button type="submit" class="track-button" id="button-occupied" name="button" value="track6">{{trackStatus[1]}}</button>
            {% endif %}
        </form> 
    </div>


</div>

<div class="switch">
    <h1>Railway switch</h1>
    <p>Switch is currently connected to:</p>
    <div class="switch-container">
        <p>{{ switchStatus }}</p>
    </div>

    <div class="radio-container"></div>
        <form method="POST" action="#">
            <div class="radio-input">
                <label for="track1">Track 1</label>
                <input type="radio" id="track1" name="switchconnection" value="1">
            </div>
            <div class="radio-input">
                <label for="track2">Track 2</label>
                <input type="radio" id="track2" name="switchconnection" value="2">
            </div>
            <div class="radio-input">
                <label for="track3">Track 3</label>
                <input type="radio" id="track3" name="switchconnection" value="3">
            </div>
            <div class="radio-input">
                <label for="track4">Track 4</label>
                <input type="radio" id="track4" name="switchconnection" value="4">
            </div>
            <div class="radio-input">
                <label for="track5">Track 5</label>
                <input type="radio" id="track5" name="switchconnection" value="5">
            </div>
            <div class="radio-input">
                <label for="track6">Track 6</label>
                <input type="radio" id="track6" name="switchconnection" value="6">
            </div>
            <button class="switch-button">Apply</button>
        </form>
    </div>


</div>

{% endblock %}